<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LLBLGen.EntityBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <clear />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LLBLGen.EntityBrowser.Properties.Settings>
      <setting name="AdapterAssemblyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LinqMetaDataAssemblyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSchema" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnsureFilteringEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseContext" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrefixDelimiter" serializeAs="String">
        <value>_</value>
      </setting>
      <setting name="CacheDurationInSeconds" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PageSize" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CommandTimeOut" serializeAs="String">
        <value>30</value>
      </setting>
    </LLBLGen.EntityBrowser.Properties.Settings>
  </userSettings>
</configuration>