<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Main.ConnectionString.SQL Server (SqlClient)" connectionString="data source=(localdb)\ProjectsV12;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add name="ConnectionString.SQL Server (SqlClient)" connectionString="data source=(localdb)\ProjectsV12;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096" />
  </connectionStrings>

    <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="WcfDataServiceUrl" value="http://localhost:55555/"></add>

  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serialize.Linq" publicKeyToken="25bcc11ba213b377" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>