<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.Oracle (ODP.NET)" connectionString="data source=//localhost/xe;user id=dbo_Northwind;password=;persist security info=false;"/>
	</connectionStrings>
</configuration> 