<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="ConnectionString.SQL Server (SqlClient)" value="data source=(local);initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096" />
    <!--<add key="ConnectionString.SQL Server (SqlClient)" value="data source=(localdb)\ProjectsV12;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>-->
    <add key="OrmProfiler" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WCFUrl" value="http://localhost:55566/"></add>
    <add key="NorthwindSvrBusinessUrl" value="http://localhost:55556/NorthwindSvr.svc"></add>

    <add key="WcfDataServiceUrl" value="http://localhost:55555/NorthwindODataService"></add>

    <!---True for parameter N-Tier means the client side accesses 
    the business layer by WCF service project GH.Northwind.Business.Host; 
    otherwise, the client side accesses the  GH.Northwind.Business library directly. -->
    <add key="N-Tier" value="true"></add>

    <!--- True for configuration parameter UseWcfDataService means GH.Northwind.Persistence library 
    accesses the Entity Framework by WCF data service project GH.Northwind.EntityFramework.Host; 
    otherwise, GH.Northwind.Persistence library accesses GH.Northwind.EntityFramework library directly. This parameter will take effect only
    when above parameter N-Tier is false; otherwise, config parameter UseWcfDataService in project GH.Northwind.Business.Host will take effect -->
    <add key="UseWcfDataService" value="false"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>