<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnectionString.SQL Server (SqlClient)" value="data source=(local)\SQLEXPRESS;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
