<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fasterflect" version="2.1.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.2.2" targetFramework="net452" />
  <package id="Humanizer.Core" version="2.0.1" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160126" targetFramework="net452" />
  <package id="SD.Tools.Algorithmia" version="1.1.0" targetFramework="net45" />
  <package id="SD.Tools.BCLExtensions" version="1.0.0" targetFramework="net45" />
  <package id="SD.Tools.OrmProfiler.Interceptor.NET45" version="1.5.20150715" targetFramework="net452" />
  <package id="System.Collections" version="4.0.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net452" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net452" />
  <package id="System.Text.RegularExpressions" version="4.0.0" targetFramework="net452" />
</packages>