<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AW.Winforms.Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="AW.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Main.ConnectionString" value="data source=(local)\sqlexpress;initial catalog=AdventureWorks;integrated security=SSPI" />
		<add key="OrmProfiler" value="true"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="SqlServerDQE" value="0" />
			<add name="ORMGeneral" value="0" />
			<add name="ORMStateManagement" value="0" />
			<add name="ORMPersistenceExecution" value="0" />
			<add name="LinqExpressionHandler" value="0" />
		</switches>
	</system.diagnostics>
	<userSettings>
		<AW.Winforms.Helpers.Properties.Settings>
			<setting name="UseLinq" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="TraceLevel" serializeAs="String">
				<value>Off</value>
			</setting>
			<setting name="TraceWindowSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="NumRows" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="DateFrom" serializeAs="String">
				<value>08/24/2008 21:34:01</value>
			</setting>
			<setting name="DateTo" serializeAs="String">
				<value>08/24/2008 21:34:01</value>
			</setting>
			<setting name="FirstName" serializeAs="String">
				<value />
			</setting>
			<setting name="LastName" serializeAs="String">
				<value />
			</setting>
			<setting name="OrderID" serializeAs="String">
				<value />
			</setting>
			<setting name="City" serializeAs="String">
				<value />
			</setting>
			<setting name="State" serializeAs="String">
				<value />
			</setting>
			<setting name="Country" serializeAs="String">
				<value />
			</setting>
			<setting name="Zip" serializeAs="String">
				<value />
			</setting>
			<setting name="FilterOnFromDate" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FilterOnToDate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MainWindowSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrderSearchSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="CustomersSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrganizationSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrderEditSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="VacationSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="MainWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="LinqTraceLevel" serializeAs="String">
				<value>Off</value>
			</setting>
			<setting name="OpenTraceWindosOnStart" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ReopenWindows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EntityViewerSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="TraceSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="FrmEntityViewerSplitterDistance" serializeAs="String">
				<value>289</value>
			</setting>
			<setting name="Prefetch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SettingQueryRunnerSizeAndLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
		</AW.Winforms.Helpers.Properties.Settings>
		<AW.Win.Properties.Settings>
			<setting name="UseLinq" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="TraceLevel" serializeAs="String">
				<value>Off</value>
			</setting>
			<setting name="TraceWindowSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="NumRows" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="DateFrom" serializeAs="String">
				<value>08/24/2008 21:34:01</value>
			</setting>
			<setting name="DateTo" serializeAs="String">
				<value>08/24/2008 21:34:01</value>
			</setting>
			<setting name="FirstName" serializeAs="String">
				<value />
			</setting>
			<setting name="LastName" serializeAs="String">
				<value />
			</setting>
			<setting name="OrderID" serializeAs="String">
				<value />
			</setting>
			<setting name="City" serializeAs="String">
				<value />
			</setting>
			<setting name="State" serializeAs="String">
				<value />
			</setting>
			<setting name="Country" serializeAs="String">
				<value />
			</setting>
			<setting name="Zip" serializeAs="String">
				<value />
			</setting>
			<setting name="FilterOnFromDate" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FilterOnToDate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MainWindowSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrderSearchSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="CustomersSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrganizationSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrderEditSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="VacationSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="MainWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="LinqTraceLevel" serializeAs="String">
				<value>Off</value>
			</setting>
			<setting name="OpenTraceWindosOnStart" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ReopenWindows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EntityViewerSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="TraceSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="FrmEntityViewerSplitterDistance" serializeAs="String">
				<value>289</value>
			</setting>
			<setting name="Prefetch" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SettingQueryRunnerSizeAndLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="OrganizationStructureSizeLocation" serializeAs="String">
				<value>0, 0, 0, 0</value>
			</setting>
			<setting name="SQLTrace" serializeAs="String">
				<value>False</value>
			</setting>
		</AW.Win.Properties.Settings>
	</userSettings>
</configuration>