<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AW.LinqToSQL.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=DELL-8600\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>