<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Main.ConnectionString" 
	   value="data source=jchancellor2-nb;initial catalog=AdventureWorks;
	   integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="SqlServerDQE" value="4" />
		</switches>
	</system.diagnostics>
</configuration>
