<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AW.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Main.ConnectionString"
    value="data source=halo;initial catalog=AdventureWorks;&#xD;&#xA;	   integrated security=SSPI;persist security info=False;packet size=4096"
                                                                          />
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="SqlServerDQE" value="4" />
		</switches>
	</system.diagnostics>
 <userSettings>
  <AW.Win.Properties.Settings>
   <setting name="UseLinq" serializeAs="String">
    <value>False</value>
   </setting>
  </AW.Win.Properties.Settings>
 </userSettings>
</configuration>
