<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADGV" version="0.1.0.10" targetFramework="net45" />
  <package id="DynamicQuery" version="1.0" targetFramework="net45" />
  <package id="SD.LLBLGen.Pro.DQE.SqlServer" version="4.2.20160929" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160929" targetFramework="net452" />
  <package id="SD.Tools.Algorithmia" version="1.2.1" targetFramework="net452" />
  <package id="SD.Tools.BCLExtensions" version="1.1.1" targetFramework="net452" />
  <package id="SD.Tools.OrmProfiler.Interceptor.NET45" version="1.5.20150715" targetFramework="net45" />
  <package id="Serilog" version="2.6.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Debug" version="1.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.TextWriter" version="2.1.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Trace" version="2.1.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net452" />
</packages>