<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AW.Winforms.Helpers.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AW.Winforms.Helpers.Properties.Settings>
      <setting name="EntityViewerSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="FrmEntityViewerSplitterDistance" serializeAs="String">
        <value>462</value>
      </setting>
      <setting name="QueryRunnerSizeAndLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="ShowDataTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNonPublicMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowStaticMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EntitiesAndFieldsSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="DataEditorSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="HierarchyEditorSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
    </AW.Winforms.Helpers.Properties.Settings>
  </userSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>