<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AW.Winforms.Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <AW.Winforms.Helpers.Properties.Settings>
      <setting name="EntityViewerSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="FrmEntityViewerSplitterDistance" serializeAs="String">
        <value>462</value>
      </setting>
      <setting name="QueryRunnerSizeAndLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="ShowDataTypes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNonPublicMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowStaticMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EntitiesAndFieldsSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="DataEditorSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="HierarchyEditorSizeLocation" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="PropertiesToExclude" serializeAs="String">
        <value/>
      </setting>
    </AW.Winforms.Helpers.Properties.Settings>
  </userSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" />
          <bindingRedirect oldVersion="4.0.0.0" newVersion="4.5.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </assemblyBinding>
  </runtime>
</configuration>
