<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" userInstalled="true" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net45" userInstalled="true" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20150609" targetFramework="net45" userInstalled="true" />
</packages>