<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.12.0" targetFramework="net452" />
  <package id="Moq" version="4.5.16" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160517" targetFramework="net452" />
</packages>