<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=(local)\sqlexpress;initial catalog=AdventureWorks;integrated security=SSPI"/>
  </appSettings>
    <connectionStrings>
        <add name="AW.DebugVisualizers.Tests.Properties.Settings.MainConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" />
    </connectionStrings>
</configuration>