<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AW.DebugVisualizers.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="Main.ConnectionString" value="data source=(local)\sqlexpress;initial catalog=AdventureWorks;integrated security=SSPI"/>
  </appSettings>
    <connectionStrings>
        <add name="AW.DebugVisualizers.Tests.Properties.Settings.MainConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <AW.DebugVisualizers.Tests.Properties.Settings>
            <setting name="StringSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="IntSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DateSetting" serializeAs="String">
                <value />
            </setting>
        </AW.DebugVisualizers.Tests.Properties.Settings>
    </userSettings>
</configuration>