<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.6.3" targetFramework="net452" />
  <package id="IIS.Microsoft.Web.Administration" version="8.5.9600.17042" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160517" targetFramework="net452" />
</packages>