<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Main.ConnectionString.SQL Server (SqlClient)" connectionString="data source=.;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
  <add name="ConnectionString.SQL Server (SqlClient)" connectionString="data source=(local);initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
    </bindings>
    <services>
      <service name="Northwind.Business.NorthwindService">
        <endpoint address="" binding="netTcpBinding" name="WCFExampleServer" contract="Northwind.DAL.Interfaces.INorthwindService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6544/WCFExampleServer"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
