<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Main.ConnectionString.SQL Server (SqlClient)" connectionString="data source=.\SQLEXPRESS;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add name="ConnectionString.SQL Server (SqlClient)" connectionString="data source=(local)\SQLEXPRESS;;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096" />
    <add name="Northwind.Business.WCF.Host.Properties.Settings.Setting" connectionString="Data Source=DD-DEV-CW7-11\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WCFUrl" value="http://localhost:55566/"></add>
    <add key="NorthwindSvrBusinessUrl" value="http://localhost:55556/NorthwindSvr.svc"></add>

    <add key="WcfDataServiceUrl" value="http://localhost:55555/NorthwindODataService/"></add>
    <add key="WcfDataServiceNorthwindPersistenceUrl" value="http://localhost:55555/NorthwindPersistence/"></add>
      <add key="WcfDataServiceNorthwindLLBLPersistenceUrl" value="http://localhost:55555/NorthwindLLBLPersistence/"></add>
      

    <!--- True for configuration parameter UseWcfDataService means GH.Northwind.Persistence library 
    accesses the Entity Framework by WCF data service project GH.Northwind.EntityFramework.Host; 
    otherwise, GH.Northwind.Persistence library accesses GH.Northwind.EntityFramework library directly. This parameter will take effect only
    when above parameter N-Tier is false; otherwise, config parameter UseWcfDataService in project GH.Northwind.Business.Host will take effect -->
    <add key="UseWcfDataService" value="true"></add>

  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.0" />
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serialize.Linq" publicKeyToken="25bcc11ba213b377" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>