<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.900.148" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.DQE.SqlServer" version="4.2.20160929" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160929" targetFramework="net452" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses.Web" version="4.2.20160929" targetFramework="net452" />
</packages>