<?xml version="1.0"?>
<configuration>
  <!-- 
    add catalog/schema name overwrite config sections HERE. See Using the generated code / Application configuration through config files for details.
      Also be sure you add the proper elements with the actual name overwriting data. 
    An example (for sqlserver) is given below. 
    
    NOTE: the example below is for .NET 2.0. Be aware that if you're using .NET 4, you've to change the 2.0.0.0 to 4.0.0.0 instead.
    -->
  <!-- START EXAMPLE -->
  <!-- 
  <configSections>
    <section name="sqlServerCatalogNameOverwrites" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections> 
  <sqlServerCatalogNameOverwrites>
    <add key="Northwind" value="Northwind2" />
  </sqlServerCatalogNameOverwrites>
  -->
  <!-- END EXAMPLE -->
  <connectionStrings>
    <!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
    <add name="Main.ConnectionString" connectionString="data source=(local)\SQLEXPRESS;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagName="datetextbox" tagPrefix="cc" src="~/HelperControls/DateTextBox.ascx"/>
        <add assembly="SD.LLBLGen.Pro.ORMSupportClasses.Web" namespace="SD.LLBLGen.Pro.ORMSupportClasses" tagPrefix="llblgenpro"/>
      </controls>
      <namespaces>
        <add namespace="AW.Data"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
  </system.web>
  <!-- Trace switches. Only uncomment if you use them. Otherwise, comment the switches out to avoid performance hits. 
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="0" />
      <add name="AccessDQE" value="0" />
      <add name="OracleDQE" value="0" />
      <add name="FirebirdDQE" value="0" />
      <add name="MySqlDQE" value="0" />
      <add name="DB2DQE" value="0" />
      <add name="PostgreSqlDQE" value="0" />
      <add name="ORMGeneral" value="0" />
      <add name="ORMStateManagement" value="0" />
      <add name="ORMPersistenceExecution" value="0" />
    </switches>
  </system.diagnostics>
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SD.LLBLGen.Pro.ORMSupportClasses" publicKeyToken="ca73b74ba4e3ff27" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>