<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:6544/WCFExampleServer" name="WCFServer" binding="netTcpBinding" contract="Northwind.DAL.Interfaces.INorthwindService"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
