<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicQuery" version="1.0" requireReinstallation="True" />
  <package id="ilmerge" version="2.14.1208" targetFramework="net40" />
  <package id="ReportViewer.Common.10" version="1.0.0" targetFramework="net40" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20160725" targetFramework="net452" />
</packages>